@model MartialApp.Models.Trainers

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Trainers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SchoolId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SchoolId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeltId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeltId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TrainerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
